* {
  margin: 0;
  padding: 0;
  list-style: none; }

header {
  width: 100%;
  margin: 0 auto; }
  header img {
    width: 100%; }

.contant {
  width: 100%;
  background: #333;
  height: 35px; }
  .contant nav {
    width: 1200px;
    height: 35px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    .contant nav ul:nth-child(1) {
      width: 50%;
      display: flex;
      justify-content: space-around; }
      .contant nav ul:nth-child(1) li {
        width: 8%;
        text-align: center;
        color: #B0AAA8;
        font-size: 0.7rem;
        line-height: 35px; }
      .contant nav ul:nth-child(1) li:nth-child(8) {
        width: 15%; }
      .contant nav ul:nth-child(1) li:nth-child(10) {
        width: 15%; }
    .contant nav ul:nth-child(2) {
      width: 20%;
      display: flex;
      justify-content: space-around; }
      .contant nav ul:nth-child(2) li {
        width: 10%;
        text-align: center;
        color: #B0AAA8;
        font-size: 0.7rem;
        line-height: 2rem; }
      .contant nav ul:nth-child(2) li:nth-child(3) {
        width: 20%; }
      .contant nav ul:nth-child(2) li:nth-child(4) {
        width: 25%;
        background: #424242; }
      .contant nav ul:nth-child(2) .list_box {
        position: relative; }
      .contant nav ul:nth-child(2) .list_box > p {
        position: absolute;
        top: 35px;
        left: -230px;
        width: 300px;
        height: 150px;
        background: #fff;
        text-align: center;
        color: #999;
        line-height: 150px;
        font-size: 14px;
        z-index: 10;
        display: none; }

.nav {
  width: 1200px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  position: relative; }
  .nav .img {
    width: 10%;
    height: 50px;
    display: flex;
    justify-content: space-between; }
  .nav .slide {
    width: 60%;
    display: flex; }
    .nav .slide li {
      width: 50%;
      height: 40px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      font-size: 14px;
      color: #333; }
  .nav .slide_box {
    width: 63%;
    height: 200px;
    position: absolute;
    background: #fff;
    top: 50px;
    left: 150px;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    display: none; }
  .nav .slide_box > li {
    display: none; }
  .nav .ipt {
    width: 20%;
    height: 50px;
    display: flex; }
    .nav .ipt input {
      width: 80%;
      height: 45px; }
    .nav .ipt button {
      border: 1px solid #FAFAFA;
      outline: none; }

.banner {
  width: 1200px;
  height: 455px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }
  .banner > .container {
    width: 3600px; }
    .banner > .container > div {
      width: 1200px;
      float: left;
      height: 455px; }
  .banner .fang {
    width: 50px;
    height: 20px;
    position: absolute;
    right: 30px;
    bottom: 20px; }
    .banner .fang li {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #fafafa;
      float: left;
      margin-right: 5px; }
    .banner .fang .on {
      background: #999 !important; }
  .banner > .left {
    width: 50px;
    height: 70px;
    position: absolute;
    left: 240px;
    top: 43%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
    opacity: 0.5; }
  .banner > .right {
    width: 50px;
    height: 70px;
    position: absolute;
    right: 5px;
    top: 43%;
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    line-height: 70px;
    text-align: center;
    opacity: 0.5; }
  .banner > .left:hover {
    background: #fff;
    color: #999; }
  .banner > .right:hover {
    background: #fff;
    color: #999; }
  .banner .aside {
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    background: #0C0D0F;
    opacity: 0.6; }
    .banner .aside li {
      width: 92%;
      height: 40px;
      color: #fff;
      line-height: 40px;
      font-size: 0.8rem;
      overflow: hidden;
      padding: 2% 4%;
      cursor: pointer; }
      .banner .aside li span {
        float: right;
        color: #fff; }
  .banner .aside_box {
    width: 35%;
    height: 455px;
    position: absolute;
    background: #fff;
    top: 0px;
    left: 240px;
    z-index: 2;
    overflow: hidden;
    text-align: center;
    display: none; }
  .banner .aside_box > li {
    display: none;
    cursor: pointer; }
    .banner .aside_box > li ul {
      width: 420px;
      height: 415px;
      padding-top: 40px; }
      .banner .aside_box > li ul li {
        float: left;
        width: 150px;
        height: 135px;
        color: #666; }
        .banner .aside_box > li ul li img {
          width: 100px;
          height: 100px; }

.mian {
  width: 1200px;
  margin: 2% auto;
  display: flex; }
  .mian > li {
    width: 23%;
    height: 151px;
    margin-right: 3%;
    background: #FAFAFA; }
    .mian > li > img {
      width: 100%; }
  .mian > li:nth-child(4) {
    margin-right: 0; }
  .mian > li:nth-child(1) {
    background: #5F5750; }
    .mian > li:nth-child(1) > ul {
      width: 100%;
      height: 151px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      .mian > li:nth-child(1) > ul > li {
        width: 30%;
        height: 61px;
        text-align: center;
        font-size: 0.6rem;
        color: #CFCDCB;
        background: #5F5750;
        margin-top: 5%;
        overflow: hidden; }
        .mian > li:nth-child(1) > ul > li > img {
          width: 40%; }

.mian1 {
  width: 1200px;
  height: 276px;
  margin: 0 auto;
  display: flex;
  overflow: hidden; }
  .mian1 li {
    width: 18%;
    margin-right: 30px;
    background: #FAFAFA;
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 3%; }
    .mian1 li img {
      width: 70%;
      margin-bottom: 6%; }
    .mian1 li p {
      line-height: 1.5rem; }
    .mian1 li p:nth-child(3) {
      color: #999; }
    .mian1 li p:nth-child(4) {
      color: orange; }
  .mian1 li:nth-child(5) {
    border-top: 1px solid #00C0A5;
    margin-right: 0; }
  .mian1 li:nth-child(1) {
    border-top: 1px solid #FFAC13; }
  .mian1 li:nth-child(2) {
    border-top: 1px solid #83C44E; }
  .mian1 li:nth-child(3) {
    border-top: 1px solid #2196F3; }
  .mian1 li:nth-child(4) {
    border-top: 1px solid #E53935; }

.h3 {
  height: 60px;
  font-size: 24px;
  line-height: 60px;
  width: 1200px;
  margin: 0 auto; }

#box {
  width: 100%;
  height: 4150px;
  background: #F5F5F5;
  margin-top: 3%; }
  #box .box {
    width: 1200px;
    margin: 10px auto; }
    #box .box .div {
      width: 1200px;
      height: 60px;
      display: flex;
      justify-content: space-between; }
      #box .box .div ul {
        width: 300px;
        height: 60px;
        line-height: 60px;
        display: flex;
        justify-content: space-around;
        font-size: 0.8rem; }
        #box .box .div ul > li {
          cursor: pointer; }
        #box .box .div ul > li:hover {
          color: orange; }
    #box .box .div1 {
      width: 1200px;
      display: flex; }
      #box .box .div1 > div {
        width: 216px;
        height: 573px; }
        #box .box .div1 > div > img {
          width: 216px;
          height: 573px; }
      #box .box .div1 ul {
        width: 984px;
        height: 573px; }
        #box .box .div1 ul li {
          width: 216px;
          height: 280px;
          float: left;
          text-align: center;
          background: #fff;
          margin-left: 30px;
          margin-bottom: 13px;
          font-size: 0.7rem; }
          #box .box .div1 ul li img {
            width: 80%; }
          #box .box .div1 ul li p {
            height: 20px;
            line-height: 30px; }
          #box .box .div1 ul li p:nth-of-type(2) {
            color: #999; }
          #box .box .div1 ul li p:nth-of-type(3) {
            color: orange; }
        #box .box .div1 ul li:nth-of-type(8) {
          background: #f5f5f5 !important; }
          #box .box .div1 ul li:nth-of-type(8) > div {
            width: 216px;
            height: 135px;
            margin-bottom: 10px; }
            #box .box .div1 ul li:nth-of-type(8) > div > div {
              width: 108px;
              height: 95px;
              float: left;
              padding-top: 40px;
              background: #fff; }
          #box .box .div1 ul li:nth-of-type(8) > div:nth-of-type(2) .right img {
            width: 60%; }

.set {
  height: 280px !important; }
  .set img {
    height: 280px !important;
    margin-bottom: 10px; }

.li {
  border: none !important;
  background: #fff !important; }

.ren {
  width: 1200px;
  height: 372px;
  margin: 10px auto; }
  .ren li {
    width: 290px;
    height: 372px;
    background: #FFF;
    margin-right: 13px;
    overflow: hidden;
    float: left; }
    .ren li .top {
      width: 290px;
      height: 225px; }
      .ren li .top img {
        width: 100%; }
    .ren li .bottom {
      width: 250px;
      padding: 20px;
      font-size: 0.8rem;
      color: #333; }
    .ren li p:nth-of-type(2) {
      color: #999;
      margin-top: 15px; }
    .ren li p:nth-of-type(3) {
      color: #000;
      margin-top: 7px; }
      .ren li p:nth-of-type(3) span {
        color: orange; }
  .ren li:nth-of-type(4) {
    margin-right: 0; }

.nei {
  width: 1200px;
  height: 295px;
  margin: 0 auto; }
  .nei li {
    width: 290px;
    height: 280px;
    text-align: center;
    margin-right: 13px;
    font-size: 0.8rem;
    padding-top: 20px;
    line-height: 25px;
    background: #fff;
    float: left; }
    .nei li p:nth-of-type(2) {
      color: #333;
      font-size: 20px;
      overflow: hidden; }
    .nei li p:nth-of-type(3) {
      color: #999;
      overflow: hidden; }
    .nei li p:nth-of-type(4) {
      color: #999;
      overflow: hidden; }
    .nei li p:nth-of-type(5) {
      font-size: 18px;
      overflow: hidden; }
  .nei li:nth-of-type(1) {
    border-top: 1px solid #FFB877; }
    .nei li:nth-of-type(1) p:nth-of-type(1) {
      color: #FFB877; }
  .nei li:nth-of-type(2) {
    border-top: 1px solid #88CB79; }
    .nei li:nth-of-type(2) p:nth-of-type(1) {
      color: #88CB79; }
  .nei li:nth-of-type(3) {
    border-top: 1px solid #E63D43; }
    .nei li:nth-of-type(3) p:nth-of-type(1) {
      color: #E63D43; }
  .nei li:nth-of-type(4) {
    border-top: 1px solid #73B0F5;
    margin-right: 0; }
    .nei li:nth-of-type(4) p:nth-of-type(1) {
      color: #73B0F5; }

.pp {
  text-align: center !important; }

.shi {
  height: 322px !important; }
  .shi li {
    height: 322px !important; }
    .shi li .top {
      height: 202px !important; }

footer {
  width: 1200px;
  height: 280px;
  margin: 0 auto; }
  footer .footerOne {
    width: 1200px;
    height: 53px;
    border-bottom: 1px solid #E7E7E7;
    padding-top: 17px; }
    footer .footerOne li {
      width: 239px;
      height: 35px;
      text-align: center;
      border-right: 1px solid #E7E7E7;
      line-height: 35px;
      float: left;
      color: #999; }
      footer .footerOne li img {
        vertical-align: middle; }
  footer .footerTow {
    width: 1200px;
    height: 135px;
    padding-top: 30px; }
    footer .footerTow li {
      width: 192px;
      height: 135px;
      float: left; }
      footer .footerTow li p {
        font-size: 0.9rem;
        color: #999;
        height: 30px;
        line-height: 30px; }
      footer .footerTow li p:nth-of-type(1) {
        margin-bottom: 15px;
        font-size: 1rem;
        color: #333;
        font-weight: bold; }
    footer .footerTow li:nth-of-type(5) {
      border-right: 1px solid #e5e5e5; }
    footer .footerTow li:nth-of-type(6) {
      width: 230px;
      text-align: center;
      overflow: hidden; }
      footer .footerTow li:nth-of-type(6) h2 {
        color: #FF7031; }
      footer .footerTow li:nth-of-type(6) p {
        height: 22px;
        font-size: 0.8rem;
        font-weight: 100;
        margin: 0;
        color: #999; }
      footer .footerTow li:nth-of-type(6) div {
        width: 110px;
        height: 25px;
        border: 1px solid #FF7031;
        text-align: center;
        margin: 20px auto;
        font-size: 0.8rem;
        color: #FF7031;
        line-height: 25px; }
        footer .footerTow li:nth-of-type(6) div img {
          vertical-align: middle; }

.di {
  width: 100%;
  background: #fafafa;
  padding-top: 25px; }
  .di .foot {
    width: 1200px;
    margin: 0 auto; }
    .di .foot li {
      float: left;
      font-size: 12px; }
      .di .foot li > img {
        margin-right: 3px; }
      .di .foot li p {
        color: #999;
        height: 20px;
        line-height: 20px; }
      .di .foot li p:nth-of-type(1) {
        color: #666; }
    .di .foot li:nth-of-type(3) {
      float: right; }
  .di > div {
    width: 100%; }
    .di > div > p {
      width: 1200px;
      margin: 0 auto;
      height: 80px;
      line-height: 40px;
      color: #999;
      font-size: 24px;
      text-align: center; }

.clear:after {
  display: block;
  clear: both;
  content: ""; }

.zhe {
  position: relative; }
  .zhe .con {
    width: 50px;
    height: 20px;
    color: #fff;
    background: red;
    position: absolute;
    left: 40%;
    top: 0;
    font-size: 12px; }
  .zhe .cons {
    width: 50px;
    height: 20px;
    color: #fff;
    background: #83C44E;
    position: absolute;
    left: 40%;
    top: 0;
    font-size: 12px; }

.ho:hover {
  transform: translate(0px, -4px);
  transition: all 1s;
  box-shadow: 5px 5px 30px #999;
  cursor: pointer; }

li {
  cursor: pointer !important; }

/*# sourceMappingURL=dome.css.map */
